# Email настройки для отправки уведомлений
SENDER_EMAIL=gannibal231@gmail.com
SENDER_PASSWORD=vgum napu egze erwp


# SMTP настройки (для Gmail по умолчанию)
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587

# Интервал проверки в секундах (по умолчанию 300 = 5 минут)
CHECK_INTERVAL=300

# ОБЯЗАТЕЛЬНО: Заголовок authorize из запроса
# Получить из DevTools -> Network -> CheckIsSlotAvailable -> Request Headers -> authorize
AUTHORIZE=

# ОБЯЗАТЕЛЬНО: Заголовок clientsource из запроса
# Получить из DevTools -> Network -> CheckIsSlotAvailable -> Request Headers -> clientsource
CLIENTSOURCE=

# ОБЯЗАТЕЛЬНО: Cookies из запроса
# Получить из DevTools -> Network -> CheckIsSlotAvailable -> Request Headers -> cookie
COOKIES=

# ОПЦИОНАЛЬНО: Маршрут (по умолчанию blr/en/bgr)
ROUTE=blr/en/bgr

